#!/bin/rc
# Warning, parts of this script have been STOLEN!

# TODO:
#   os type, labs/ants/front
#   fs type
#   fs usage/storage
#   kernel


os=9front
shell=/bin/rc
uptime=`{uptime| sed 's/.*up//; s/..........$//'}
scr=`{dd -count 1 < /dev/screen|[2];}
scr=($scr(4) x $scr(5))
ram=(`{tr / ' '</dev/swap})
free=`{echo $ram(1)'/1024^2'|bc}
used=`{echo '('$ram(3)'*('$ram(7)^+$ram(5)^'))/1024^2'|bc}
cpu=`{aux/cpuid | grep procname | sed 's/.*procname//'}

cat <<EOF
             $user@$sysname
    (\(\     -----------
   j". ..    os: Plan 9 from $os
   (  . .)   shell: $shell
   |   ° ¡   uptime: $uptime
   ¿     ;   ram: $used/$free MiB
   c?".UJ    cpu: $cputype $cpu 
             resolution: $scr
EOF
